<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Product_type</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to product_types_path, class: button_class(theme: "transparent") do %>
      All Product_types
      <% end %>
      <%= link_to edit_product_type_path(@product_type), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Typeid:</p>
        <p><%= @product_type.typeid %></p>
      </li>
      <li>
        <p class="font-semibold">Typename:</p>
        <p><%= @product_type.typename %></p>
      </li>
  </ul>
</div>
