<div id="<%= dom_id service %>">
  <p>
    <strong>Serviceid:</strong>
    <%= service.serviceid %>
  </p>

  <p>
    <strong>Servicename:</strong>
    <%= service.servicename %>
  </p>

  <p>
    <strong>Servicecost:</strong>
    <%= service.servicecost %>
  </p>

</div>
