<div id="<%= dom_id store_chain %>">
  <p>
    <strong>Chain number:</strong>
    <%= store_chain.chain_number %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= store_chain.website %>
  </p>

  <p>
    <strong>Header:</strong>
    <%= store_chain.header_id %>
  </p>

</div>
