<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between mb-6 flex-wrap">
    <h1 class="font-bold text-3xl mb-6">Edit store_chain</h1>
    <% if @store_chain.persisted? %>
    <%= button_to 'Destroy', @store_chain, method: :delete, class: "text-red-700 underline", data: { turbo_confirm: 'Are you sure?' } %>
    <% end %>
  </div>

  <%= render 'form', store_chain: @store_chain %>
</div>
