<div id="<%= dom_id point %>">
  <p>
    <strong>Pointname:</strong>
    <%= point.pointname %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= point.description %>
  </p>

  <p>
    <strong>Bonuspoint:</strong>
    <%= point.bonuspoint %>
  </p>

</div>
