<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Buyingmethod</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to buyingmethods_path, class: button_class(theme: "transparent") do %>
      All Buyingmethods
      <% end %>
      <%= link_to edit_buyingmethod_path(@buyingmethod), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Buyingmed:</p>
        <p><%= @buyingmethod.buyingmed %></p>
      </li>
  </ul>
</div>
