<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Manufacturing</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to manufacturings_path, class: button_class(theme: "transparent") do %>
      All Manufacturings
      <% end %>
      <%= link_to edit_manufacturing_path(@manufacturing), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Manid:</p>
        <p><%= @manufacturing.manid %></p>
      </li>
      <li>
        <p class="font-semibold">Manname:</p>
        <p><%= @manufacturing.manname %></p>
      </li>
  </ul>
</div>
